@font-face {
  font-family: Anton;
  src: url("assets/fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("assets/fonts/Raleway-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Anton;
}

body {
  font-family: Raleway;
}
